{{#if genres}}
    <h1>Liste des genres</h1>
{{/if}}

{{#if jeu}}
    <h1>Liste des jeux du genre</h1>
{{/if}}

<div class = "conteneur-liste">
    <ul>
        {{#each genres}} 
            <li>
                <a href="/Genres/{{id}}/jdg">{{nom}}</a> 
            </li>
        {{/each}}
        {{#each jeu}}
            <li>
                <a href="/Jeux/{{id}}/details">{{titre}}</a> 
            </li>
        {{else}}
            <p>Aucun jeu associé à ce genre.</p>
        {{/each}}
    </ul>
</div>
<a href="../">RETOUR à la page precedente</a> 