<div class="jeu-container">
    <h2 class="jeu-titre">Titre : {{jeu.titre}}</h2>
    <p class="jeu-description">Description : {{jeu.description}}</p>
    <p class="jeu-info">Date de sortie : {{jeu.releaseDate}}</p>
    <p class="jeu-info">Genre : <a href="/Genres/{{jeu.genre.id}}/jdg">{{jeu.genre.nom}}</a></p>
    
    {{#if jeu.editeur}}
        <p class="jeu-info">Éditeur : <a href="/Editeurs/{{jeu.editeur.id}}/jde">{{jeu.editeur.nom}}</a></p> 
    {{else}}
        <p class="jeu-info">Éditeur : Non renseigné</p>
    {{/if}}
    
    <div class="jeu-actions">
        <form action="/Jeux/{{jeu.id}}/delete?_method=DELETE" method="POST" onsubmit="return confirm('Voulez-vous vraiment supprimer ce jeu ?');">
            <button class="btn-supprimer" type="submit">Supprimer ce jeu</button>
        </form>

        {{#if jeu.enAvant}}
            <form action="/Jeux/{{jeu.id}}/notEnAvant" method="POST">
                <button class="btn-toggle" type="submit">Retirer de la mise en avant</button>
            </form>
        {{else}}
            <form action="/Jeux/{{jeu.id}}/enAvant" method="POST">
                <button class="btn-toggle" type="submit">Mettre en avant</button>
            </form>
        {{/if}}
    </div>

    <div class="jeu-navigation">
        <a class="btn-modifier" href="/Jeux/{{jeu.id}}/edit">Modifier le jeu</a>
        <a class="btn-retour" href="/Jeux">Retour à la liste des jeux</a>
    </div>
</div>