<h1>Nom du jeu {{jeu.titre}}</h1>
<p>Descr : {{jeu.description}}</p>
<p>Date de sortie: {{jeu.releaseDate}}</p>
<p>Genre : {{jeu.Genre.nom}}</p>
<p>Éditeur : {{jeu.Editeur.nom}}</p>

<a href="/Jeux">Retour à la liste des jeux</a>


