{{#if genres}}
    <h1>Liste des editeurs</h1>
{{/if}}

{{#if jeu}}
    <h1>Liste des jeux de l'editeur</h1>
{{/if}}

<a href="../">RETOUR à la page precedente</a> 
<a href="/Editeurs/Ajouter">Ajouter un éditeur</a>


<ul>
    {{#each editeurs}} 
    
        <li>
            <a href="/Editeurs/{{id}}/jde">{{nom}}</a>
            <a href="/Editeurs/{{id}}/edit">Modifier un éditeur</a>
        </li>
    {{/each}}
    {{#each jeu}}
        <li>
            <a href="/Jeux/{{id}}/details">{{titre}}</a>
            
        </li>
    {{/each}}
</ul>
